@mixin flex-vertical() {
    @media only screen and (orientation: portrait) {
        display: flex;
        flex-direction: column;
    }
}

@mixin split-horizontal($columns: 2, $gap: 0) {
    @include flex-vertical();
    gap: $gap;
    @media only screen and (orientation: landscape) {
        display: grid;
        grid-template-columns: repeat($columns, 1fr);
    }
}

@mixin split-horizontal-uneven-2($left: 1fr, $right: 1fr, $gap: 0) {
    @include flex-vertical();
    gap: $gap;
    @media only screen and (orientation: landscape) {
        display: grid;
        grid-template-columns: $left $right;
    }
}

@mixin split-horizontal-uneven-3($left: 1fr, $middle: 1fr, $right: 1fr, $gap: 0) {
    @include flex-vertical();
    gap: $gap;
    @media only screen and (orientation: landscape) {
        display: grid;
        grid-template-columns: $left $middle $right;
    }
}