@use "../../abstracts/palette.scss" as p;
@use "../../abstracts/sizes.scss" as s;
@use "../../components/card.scss" as cc;
@use "../../layout/bg-image.scss" as lb;
@use "../../layout/split.scss" as ls;

.card {
    @include cc.card(p.$secondary);
    padding: 0.6rem;
}

.root {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 0 0.9rem 0.9rem 0.9rem;
    width: calc(100vw - 20rem);
}

.header {
    @include cc.card(p.$secondary, false);
    @include lb.bg-cover(url("/pictures/placeholders/banner.png"));
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 16rem;
    width: calc(100% - 1.2rem);
    padding: 0.6rem;
    &-card {
        @include cc.card(p.$card-translucent, false);
        width: 16rem;
        padding: 0.6rem;
        backdrop-filter: blur(0.6rem);
    }
}

.split {
    @include ls.split-horizontal-uneven-2(1fr, 3fr, 1.2rem);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.quickinfo {
    @extend .card;
    height: 16rem;  // temporary
}

.compose, .filter {
    @include cc.card-primary();
    padding: 0.3rem;
}

.feed {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}