$primary: #0073A5;
$primary-accent: #8A9EAC;
$primary-side: #3C5D75;

$secondary: #E9E9E9;

$accent: #CD6767;

$icon-primary: #0073A5;
$icon-secondary: #8A9EAC;

$card: #FFFFFF;
$card-translucent: #FFFFFFAA;
$side: #00000044;

$field: #FFFFFF;
$field-focused: #8A9EAC;

$success: #2E9332;
$failure: #D20000;

$menu: #000000;

$text-primary: #000000;
$text-secondary: #FFFFFF;