$primary: #0073A5;
$primary-accent: #8A9EAC;

$secondary: #E9E9E9;

$accent: #CD6767;

$card: #FFFFFF;
$card-translucent: #FFFFFFAA;
$side: #00000044;

$menu: #000000;

$text-primary: #000000;
$text-secondary: #FFFFFF;