$size-regular: 24px;
$size-medium: 20px;
$size-small: 14px;

$font-base: "Inter", "Kanit", "Noto Sans", "Noto Sans JP", "Noto Sans KR", "Noto Sans SC", sans-serif;
$font-accent: "Inter", "Prompt", "Noto Sans", "Noto Sans JP", "Noto Sans KR", "Noto Sans SC", sans-serif;