@use "../abstracts/palette.scss" as p;
@use "../components/card.scss" as cc;

.classrooms-card {
    display: grid;
    grid-template-rows: 2rem, auto;
    grid-template-areas:
        "school-filter"
        "grade-card";
}

.school-filter {
    grid-area: school-filter;
}

.grade-card {
    @include cc.card();
    grid-area: grade-card;
    height: 8rem;
    width: 45rem;
    padding: 0.5rem;
}

.program-container {
    display: grid;
    grid-template-columns: 6rem auto;
    grid-template-areas: 
        "program classes";
    margin: .5rem;
}

.program {
    grid-area: program;
    font-weight: 300;
    width: fit-content;
}

.classes {
    grid-area: classes;
    .class-pill {
        @include cc.card-pill(p.$card);
        display: inline;
        padding: 0.1rem 0.3rem;
        text-align: center;
        width: 3rem;
        color: p.$text-primary;
        margin: .5rem;
    }
}