@use "../abstracts/palette.scss" as p;
@use "../components/card.scss" as cc;
@use "../utils/typography.scss" as ut;

.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: calc(100vw - 20rem);
    padding: 0 1rem;
    &-column {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

.card {
    @include cc.card();
    padding: 0.5rem;
    .header {
        font-size: 1.7rem;
    }
}

.class {
    &-card {
        @extend .card;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    &-class {
        @include cc.card-flat(p.$card);
        padding: 0.5rem;
    }
    &-name {
        @include ut.max-lines(1);
        font-size: 1.2rem;
    }
    &-class,
    &-teacher {
        font-size: 0.8rem;
    }
}