@use "../abstracts/palette.scss" as p;
@use "../abstracts/typography.scss" as t;
@use "../components/card.scss" as cc;

button {
    font-family: t.$font-accent;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    font-family: t.$font-accent;
}

input {
    @include cc.card-pill(p.$card);
    padding: 0.3rem 0.6rem;
    font-size: 0.8rem;
    border: none;
}