@use "../abstracts/typography.scss" as t;

html {
    font-size: 24px;
    font-family: t.$font-base;
    width: 100vw;
    overflow: hidden auto;
}

canvas, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, embed, fieldset, font, form, h1, h2, h3, h4, h5, h6, hr, body, i, iframe,
img, ins, kbd, label, legend, li, menu, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot,
th, thead, tr, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 1600px) {
    html {
        font-size: 20px;
    }
}